.c-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  background-color: rgba(0, 0, 0, 0.6);
  overflow: scroll;

  &.is-active {
    opacity: 1;
    visibility: visible;
  }

  &__inner {
    min-height: 600px;
    position: relative;
    min-width: 500px;
    max-width: 90%;
    padding-top: 10%;
    background-color: #ffffff;
  }

  &__close {
    position: absolute;
    right: percentage(1.5 / 24);
    top: 0;
    background-color: transparent;
    margin-top: percentage(1.5 / 24);
    border: 0;
    -webkit-appearance: none;
    transition: opacity 0.2s ease-out;
    cursor: pointer;

    .u-icon {
      width: 0.7em;
      height: 0.7em;
      margin-left: 0.5em;
    }
  }
}
