.c-bfml-switcher {

  label {
    font-size: 14px;
    font-weight: 600;
  }

  &-box {
    padding-top: 5px;

    input[type="checkbox"] {
      visibility: hidden;
      position: absolute;
    }

    &.is-active {

      .c-bfml-switcher {

        &__true-false {
          background-color: #0d99d5;
          color: #ffffff;
        }

        &__slider {
          left: 50%;
        }
      }
    }
  }

  &__true-false {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
    height: 30px;
    background-color: #f5f5f5;
    border: 1px solid #000000;
    position: relative;
  }

  &__on,
  &__off {
    min-width: 15px;
    font-size: 13px;
    padding: 4px 10px;
  }

  &__select-label {
    display: flex;
    padding: 10px 0;
  }

  &__slider {
    position: absolute;
    top: 2px;
    bottom: 2px;
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 3px;
    width: 50%;
    right: 50%;
    margin: 0 -4px;
  }
}
